BLINKID_VERIFY_IMAGE=us-docker.pkg.dev/document-verification-public/on-prem/core
BLINKID_VERIFY_IMAGE_TAG=<version>
BLINKID_VERIFY_API_PORT=8080

LICENSE_KEY=<license-key>
LICENSE_APPLICATION_ID=<application-id>
# Set to Extract for document and barcode extraction without verification.
DOCVER_WORKFLOW=ExtractAndVerify
WORKER_COUNT=2

BLINKID_VERIFY_INFLIGHT_LIMIT=2
BLINKID_VERIFY_QUEUE_LIMIT=0
LOG_FILES_ENABLED=0

LIMITS_CPUS=4
LIMITS_MEMORY=8G
RESERVATIONS_CPUS=2
RESERVATIONS_MEMORY=4G
